```{=html}

<ol>
  <% for (const item of items) { %>
    <li <%=metadataAttrs(item) %>>
      <a href="<%- item.path %>" target="_blank">
        <%= item.description %>
      </a>

    </li>
    <% } %>
</ol>

```