
/*-- scss:defaults --*/
.blue_highlight {
  color: #003d73!important;
  font-weight: bold;
}

.smaller_size {
  font-size: 0.5em!important;
  line-height: 0.5!important;
}

/*-- scss:rules --*/

.pagedtable-not-empty {
  font-size: 0.7em!important;
}

.reveal .column-output-location{
  padding-top: 0.25em!important;
  padding-bottom: 0.25em!important;
}

.reveal .slides section .fragment.visible{
  padding-top: 0.25em!important;
  padding-bottom: 0.25em!important;
}

